{% extends "base.html" %}
{% block page_css %}

    <style type="text/css">
        .highcharts-container {
            margin: 0 auto;
        }

    </style>

{% endblock %}

{% block page_wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Flot</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            各城市公司数量分布表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            密集城市
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>城市</th>
                                            <th>公司数量</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dense_city in dense_citys %}
                                        <tr>
                                            <td>1</td>
                                            <td>{{ dense_city[1] }}</td>
                                            <td>{{ dense_city[0] }}</td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            稀疏城市
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>城市</th>
                                            <th>公司数量</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sparse_city in sparse_citys %}
                                        <tr>
                                            <td>1</td>
                                            <td>{{ sparse_city[1] }}</td>
                                            <td>{{ sparse_city[0] }}</td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>


            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}
{% block static_js %}
    {{ super() }}

    <script src="{{ url_for('static', filename='highcharts/code/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/series-label.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/exporting.js') }}" type="text/javascript"></script>

    <script>
Highcharts.chart('flot-line-chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: '城市公司数量分布表'
            },
            subtitle: {
                text: 'Source: AJ平台'
            },
            xAxis: {
                categories: [

                    {% for city in citys %}
                        '{{ city[1] }}',
                    {% endfor %}


                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '公司数量 (个)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} 个</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '公司数量（个）',
                data: [                    {% for city in citys %}
                        {{ city[0] }},
                    {% endfor %}]

            }]
        });





    </script>
{% endblock %}
