{% extends "base.html" %}
{% block page_css %}

    <style type="text/css">
        .highcharts-container {
            margin: 0 auto;
        }

    </style>

{% endblock %}

{% block page_wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Flot</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            各城市公司数量分布表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            密集城市
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>城市</th>
                                            <th>公司数量</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>北京</td>
                                            <td>500</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            稀疏城市
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>城市</th>
                                            <th>公司数量</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>泉州</td>
                                            <td>10</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>


            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}
{% block static_js %}
    {{ super() }}

    <script src="{{ url_for('static', filename='highcharts/code/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/series-label.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/exporting.js') }}" type="text/javascript"></script>

    <script>
Highcharts.chart('flot-line-chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: '城市公司数量分布表'
            },
            subtitle: {
                text: 'Source: AJ平台'
            },
            xAxis: {
                categories: [
            '北京','上海','深圳','广州','杭州','成都','南京','武汉','西安','厦门','长沙','苏州','天津','重庆','郑州','青岛','合肥','福州','济南','大连','珠海','无锡','佛山','东莞','宁波','常州','沈阳','石家庄','昆明','南昌','南宁','哈尔滨','海口','中山','惠州','贵阳','长春','太原','嘉兴','泰安','昆山','烟台','兰州','泉州'

                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '公司数量 (个)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '薪资（k）',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 60, 100, 80, 100, 90, 150,100, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 60, 100, 80, 100, 90, 150,100]

            }]
        });





    </script>
{% endblock %}
