{% extends "base.html" %}

{% block static_css %}
    {{ super() }}
            <link href="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

{% endblock %}
                    {% block title %}
                    <h1>智联数据</h1>
                        {% endblock %}
{% block global %}




        <div id="global">
                           <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            拉勾职位数据
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>职位</th>
                                        <th>职位类型</th>
                                        <th>学历要求</th>
                                        <th>薪资</th>
                                        <th>地点</th>
                                        <th>公司</th>
                                        <th>公司类型</th>

                                    </tr>
                                </thead>
                                <tbody>

                                {% for job in jobs %}
                                    <tr class="odd gradeX">
                                        <td>{{ job.positionName }}</td>
                                        <td>{{ job.jobNature }}</td>
                                        <td>{{ job.education }}</td>
                                        <td class="center">{{ job.salary }}</td>
                                        <td class="center">{{ job.city }}</td>
                                        <td>{{ job.companyFullName }}</td>
                                        <td class="center">{{ job.industryField }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            数据挖掘高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for datacrawl_job in datacrawl_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ datacrawl_job.positionName }}</td>
                                            <td class="center">{{ datacrawl_job.salary }}</td>
                                            <td>{{ datacrawl_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            搜索算法高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for search_job in search_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ search_job.positionName }}</td>
                                            <td class="center">{{ search_job.salary }}</td>
                                            <td>{{ search_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            推荐算法高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for recommend_job in recommend_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ recommend_job.positionName }}</td>
                                            <td class="center">{{ recommend_job.salary }}</td>
                                            <td>{{ recommend_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            后端开发高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for backend_job in backend_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ backend_job.positionName }}</td>
                                            <td class="center">{{ backend_job.salary }}</td>
                                            <td>{{ backend_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            全栈工程师高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for weball_job in weball_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ weball_job.positionName }}</td>
                                            <td class="center">{{ weball_job.salary }}</td>
                                            <td>{{ weball_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            web前端高薪岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>薪水</th>
                                            <th>公司</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for webfront_job in webfront_jobs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ webfront_job.positionName }}</td>
                                            <td class="center">{{ webfront_job.salary }}</td>
                                            <td>{{ webfront_job.companyFullName }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}


{% block static_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}" type="text/javascript"></script>
    <!-- DataTables JavaScript -->


    <script type="application/javascript">
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

{% endblock %}
