{% extends "base.html" %}
{% block page_css %}

    <style type="text/css">
        .highcharts-container {
            margin: 0 auto;
        }


    </style>

{% endblock %}

{% block page_wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Panels and Wells</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        {% for job_name in job_names %}
             {{ job_name.value }}
            {% for name, job_type in job_name.items() %}

                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ name }}热门岗位
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>高薪岗位</th>
                                            <th>出现次数</th>
                                            <th>平均薪水</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for type in job_type %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ type[0]}}</td>
                                            <td>{{ type[1] }}</td>
                                            <td class="center">{{ type[2] }}</td>

                                        </tr>
                                        {% if loop.index == 5 %}

                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                {% endfor %}
        {% endfor %}



        </div>

{% endblock %}

{% block static_js %}
    {{ super() }}
    <script>
        var data = {{ data }};
    </script>
    <script src="{{ url_for('static', filename='highcharts/code/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/series-label.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/code/modules/exporting.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts/data/trend_job_count.js') }}" type="text/javascript"></script>
{% endblock %}
